{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="main">
        <div class="left">
            <div class="left-up left-side">
            </div>

            <div class="left-down left-side">
                <div class="heading1">
                    Tech Rambler
                </div>
                <div class="main-image">
                    <img src="/static/coder.png" alt="Coder">
                </div>
                <div class="heading2">
                    Welcome to <b>Tech Rambler</b>! Explore our video source code, learn, and create amazing tech projects. <br><br>
                    <p>All Our Codes are available here!>>>></p>
                </div>
            </div>
        </div>
        <div class="right">

        </div>
    </div>
    
</body>
</html>